<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PixisAirGroup3.Properties.Settings.PixisAirConnectionString"
            connectionString="Data Source=v2studentpoc;Initial Catalog=PixisAir;Persist Security Info=True;User ID=Student;Password=ichooseGateway"
            providerName="System.Data.SqlClient" />
        <add name="PixisAirGroup3.Properties.Settings.ConnectionString"
            connectionString="Provider=IBMDA400.DataSource.1;Data Source=deathstar.gtc.edu;Password=Dstein3;User ID=ITPA542"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>